
.contato-container{
    display: flex;
    justify-content: space-between;
}

.form-contato{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 600px;
}

.h1 h1{
    color: var(--cor-primaria);
    font-size: var( --font-size-title);
}

.input{
    outline: none;
    height: 40px;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
}

#textarea{
    resize: vertical;
    max-height: 280px;
    min-height: 200px;
    outline: none;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
}

.rede-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rede-sociais i{
    padding: .5rem;
    font-size: 1.8rem;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    color: white;
    border-radius: 6px;
    transition: .4s all ease;
}

.rede-sociais i:hover{
    transform: scale(1.05);
    background-color: transparent;
    color: var(--cor-primaria);
}

.submit-form{
    padding: .7rem 0;
    border: none;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: .4s all ease;
}

.submit-form:hover{
    transform: scale(1.05);
    background-color: transparent;
    color: var(--cor-primaria);
}

.img-contato img{
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 920px) {

    .form-contato{
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        max-width: initial;
    }
    
    .img-contato img{
        display: none;
    }
}
