.header{
    background-color: white;
    box-shadow: 0 5px 15px #0000002c;
    transition: .4s all ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.fechar-menu{
    background-color: #ff634714;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.fechar-menu.active{
    display: block;
}

.header-container{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 3rem;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
    transition: .4s all ease;
}

.navBar.rolagem{
    padding: 1rem 0;
}

.logo a h2{
    color: var(--secundaria);
}

.logo a h2 span{
    color: var(--cor-primaria);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.li-link .a-link{
    color: var(--secundaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
}

.li-link .a-link:hover{
    background-color: var(--cor-primaria);
    color: #f0f8ff;
}

.destaque-link{
    background-color: var(--cor-primaria);
    border: 3px solid var(--cor-primaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
    color: #f0f8ff;
}

.destaque-link:hover{
    background: none;
    color: var(--cor-primaria);
}

.hamburguer{
    cursor: pointer;
    display: none;
}

.hamburguer .bar{
    display: block;
    margin: 5px auto;
    background-color: var(--secundaria);
    width: 28px;
    height: 4px;
    border-radius: 3px;
    transition: .4s all ease;
}

@media screen and (max-width: 920px) {
    .menu{
        position: absolute;
        top: -500px;
        left: 0;
        background-color: white;
        box-shadow: 5px 10px 10px #0000006e;
        width: 100%;
        z-index: 999;
        padding: 2rem;
        transition: .4s all ease;
    }
    
    .menu.active{
        top: 0;
    }
    
    .ul-menu{
        flex-direction: column;
        gap: 2rem;
    }

    .hamburguer{
        display: block;
        z-index: 1111;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}