.header{
    background-color: white;
    box-shadow: 0 5px 15px #0000002c;
    position: fixed;
    width: 100%;
    transition: .4s all ease;
}

.header-container{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 3rem;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    transition: .4s all ease;
}

.navBar.rolagem{
    padding: 1.5rem 0;
}

.logo a h2{
    color: var(--secundaria);
}

.logo a h2 span{
    color: var(--cor-primaria);
}

.ul-desktop{
    display: flex;
    gap: 1rem;
}

.ul-desktop .li-link{
    list-style: none;
}

.ul-desktop .li-link .a-link{
    color: var(--secundaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
}

.ul-desktop .li-link .a-link:hover{
    background-color: var(--cor-primaria);
    color: #f0f8ff;
}

.ul-desktop .li-link .a-link:active{
    background-color: #ff0000;
}

.destaque-link{
    background-color: var(--cor-primaria);
    border: 3px solid var(--cor-primaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
    color: #f0f8ff;
}

.destaque-link:hover{
    background: none;
    color: var(--cor-primaria);
}

.destaque-link:active{
    background: var(--cor-primaria);
    color: #f0f8ff;
}

/* menu mobile =============================================== */

.ul-mobile{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.li-link-mobile{
    list-style: none;
}

.a-link-mobile{
    color: var(--secundaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
}

.a-link-mobile:hover{
    background-color: var(--cor-primaria);
    color: #f0f8ff;
}

.a-link-mobile:active{
    background-color: #ff0000;
}

.destaque-link{
    background-color: var(--cor-primaria);
    border: 3px solid var(--cor-primaria);
    color: #f0f8ff;
}

.destaque-link:hover{
    background: none;
    color: var(--cor-primaria);
}

.destaque-link:active{
    background: var(--cor-primaria);
    color: #f0f8ff;
}

/* menu mobile =============================================== */

.dropdown{
    list-style: none;

}

.dropdown-toggle{
    color: var(--secundaria);
    list-style: none;
}

.dropdown-toggle{
    color: var(--secundaria);
    padding: .8rem 1.5rem;
    border-radius: 9px;
    transition: .4s all ease;
    cursor: pointer;
}

.dropdown-toggle:hover{
    background-color: var(--cor-primaria);
    color: #f0f8ff;
}

.dropdown-toggle:active{
    background-color: #ff0000;
}

.dropdown-menu{
    margin-top: 20px;
    position: absolute;
    background-color: var(--secundaria);
    padding: .9rem;
    border-radius: 6px;
    display: none;
    width: 100%;
    max-width: 300px;
}

#dropdown-menu.active{
    display: block;
}

.dropdown-li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.dropdown-item{
    color: white;
    border-bottom: 2px solid var(--secundaria);
    transition: .4s all ease;
    padding: .8rem;
    border-radius: 6px;
}

.dropdown-item:hover{
    border-bottom: 2px solid var(--cor-primaria);
}

.dropdown-item:active{
    background-color: var(--cor-primaria);
}

/* dropdown */
.dropdown-menu-mobile{
    margin-top: 20px;
    background-color: var(--secundaria);
    width: 100%;
    max-width: 300px;
    padding: .9rem;
    border-radius: 6px;
    display: none;
    transition: .4s all ease;
}
.dropdown-menu-mobile.mobile{
   display: block;
}
/* dropdown */


@media screen and (max-width: 885px) {

    .navBar{
        padding: .7rem 0;
    }

    .navBar.rolagem{
        padding: .5rem 0;
    }

    .abrir{
        position: relative;
        z-index: 1;
        font-size: 2.5rem;
        color: var(--cor-primaria);
        cursor: pointer;
    }

    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        position: absolute;
        top: -700px;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 3rem;
        display: flex;
        transition: all .4s ease;
    }

    .menu-mobile.active{
        top: 0;
    }

    .ul-mobile{
        margin: 0 auto;
        align-items: center;
    }
}

@media screen and (min-width: 885px){
    
    .menu-mobile{
        display: none;
    }

    .abrir{
        display: none;
    }
}