.project-container{
     max-width: 1368px;
     margin: 0 auto;
     padding: 0 3rem;
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.project-container h1{
     color: var(--cor-primaria);
     font-size: 3rem;
     margin-top: 3rem;
}

.box-project{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 300px)); /* lembrar de colocar o tamanho maximo 1fr */
     gap: 1rem;

}

.card-project{
     width: 100%;
     height: 400px;
     box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.372);
     border-radius: 16px;
     padding: 2rem;
     position: relative;
     overflow: hidden;
}

.circle-project-card{
     background-color: tomato;
     border-radius: 50%;
     position: absolute;
     top: -200px;
     left: 0;
     width: 150%;
     height: 100%;
     transform: rotate(10deg);
     z-index: -1;
     transition: .4s all ease;
}

.img-project{
     position: relative;
}

.img-project img{
     position: absolute;
     top: 80px;
     width: 100%;
     transition: .4s all ease;
}

.paragrafo-card-project{
     padding: 2rem;
     position: absolute;
     left: 0;
     bottom: -200px;
     transition: .4s all ease;
     font-size: .8rem;
     color: white;
}

.link-card-project{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -40px;
     transition: .4s all ease;
     background-color: var(--cor-primaria);
     border: 2px solid var(--cor-primaria);
     width: 200px;
     border-radius: 16px;
     padding: .5rem 0;
     text-align: center;
     color: white;
}

.link-card-project:hover{
     background-color: transparent;
     color: var(--cor-primaria);
}

.card-project:hover .img-project img{
     width: 100px;
     object-fit: cover;
     top: 0px;
}

.card-project:hover .paragrafo-card-project{
     bottom: 100px;
}

.card-project:hover .link-card-project{
     bottom: 10%;
}

.card-project:hover .circle-project-card{
     border-radius: 2px;
     position: absolute;
     top: -100px;
     left: 0;
     width: 100%;
     height: 100%;
     transform: rotate(0deg);
     z-index: -1;
}