.section-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.img-sobre{
    width: 100%;
}

.img-sobre img{
    width: 100%;
}

.sobreMim{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobreMim h2{
    color: var(--cor-primaria);
    font-size: var(--font-size-title);
}

.sobreMim p{
    color: var(--secundaria);
}

@media screen and (max-width: 920px){
    .section-container::before{
        clip-path: circle(15% at 0% 0%);
    }

    .sobreMim{
        width: 100%;
    }

    .sobreMim p{
        color: var(--secundaria);
        text-align: justify;
    }
}

@media screen and (max-width: 600px){
    .section-container::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff6347;
        width: 100%;
        height: 100%;
        clip-path: circle(10% at 0% 0%);
    }

    .section-container{
        flex-direction: column;
    }
    
}