.sobre{
    padding: 5rem 0;
}

.section-container{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "img sobreMim"
        "img content"
    ;
}

.sobreMim{
    grid-area: sobreMim;
}

.sobre h2{
    color: var(--cor-primaria);
    font-size: 3rem;
}

.sobre p{
    color: var(--secundaria);
}

.img-sobre{
    grid-area: img;
}

.img-sobre img{
    width: 100%;
    max-width: 450px;
}

.sobre-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    grid-area: content;
}

@media screen and (max-width: 885px){
    .section-container{
        grid-column-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "img content"
            "sobreMim content"
        ;
    }

    .sobre p{
        text-align: justify;
     }
}

@media screen and (max-width: 769px){
    .section-container{
        max-width: 1368px;
        margin: 0 auto;
        padding: 0 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "img img"
            "sobreMim sobreMim"
            "content content"
        ;
    }

    .img-sobre{
        display: flex;
    }

    .img-sobre img{
        max-width: 250px;
        margin: 0 auto;
    }

    .sobre p{
       text-align: justify;
    }
}